:root {
    --colNum: 0;
    --rowNum: 0;
  }

header{
   text-align: center;
}

.main-content{
  text-align: center;
  
}

.grid-container {
    display: inline-grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--colNum), 1fr);
}

.grid-item {
    border:1px solid black;
  }

  .grid-item:hover::after{
    background-color: pink;
  }




