:root {
    --colNum: 0;
    --rowNum: 0;
  }

header{
   text-align: center;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--colNum), 1fr);
}

.grid-item {
    border:1px solid black;
    
  }