:root {
    --colNum: 0;
    --rowNum: 0;
  }

.heading{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: auto;
   width: 50vw;;
}

h1.heading{
  float: center;
}



.main-content{
  text-align: center;
  
}


.grid-container {
    display: inline-grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--colNum), 1fr);
}

.grid-item {
    border:1px solid black;
  }

  .grid-item:hover::after{
    background-color: pink;
  }




